/* Общие стили для всей страницы */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Фоновый цвет */
    color: white;
    overflow-x: auto; /* Устранение горизонтального скроллинга */
}

* {
    box-sizing: border-box;
}

/* Левая боковая панель (Sidebar) */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px; /* Уменьшили ширину */
    height: 100%;
    background-color: #0a0a0a;
    color: #fff;
    overflow-y: auto;
    border-right: 2px solid #333; /* Уменьшили яркость границы */
    z-index: 1000; /* Повыше основного контента */
}

.sidebar-header {
    text-align: center;
    padding: 10px 0;
}

.sidebar h1 {
    font-size: 2em; /* Уменьшили размер текста */
    margin: 10px;
    overflow-wrap: break-word;
}

.sidebar-menu, .sidebar-footer {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu li, .sidebar-footer li {
    padding: 15px 15px; /* Уменьшили отступы */
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis; /* Троеточие, если текст слишком длинный */
    overflow: hidden;
    border-bottom: 1px solid #333;
}

.sidebar-menu li a, .sidebar-footer li a {
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
    display: block;
    font-size: 16px; /* Уменьшили размер шрифта */
}

.sidebar-menu li.active {
    background-color: #1a1a1a;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 180px; /* Отступ от Sidebar */
    width: calc(100vw - 180px); /* Учитываем ширину боковой панели */
    height: 60px;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень */
    box-sizing: border-box; /* Глобальное правило */
    z-index: 1001;
    overflow: hidden; /* Скрываем возможное переполнение */
}


/* Балансы в верхней панели */
.balances {
    display: flex;
    flex-wrap: wrap; /* Элементы переносятся */
    gap: 20px; /* Расстояние между элементами */
    margin-right: 10px;
    justify-content: center; /* Центрируем на узких экранах */
}

.balances div {
    background-color: #2e2e2e;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    flex: 1; /* Гибкость */
    max-width: 300px; /* Максимальная ширина */
    min-width: 300px; /* Минимальная ширина */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; /* Троеточие */
}

@media screen and (max-width: 768px) {
    .balances div {
        font-size: 18px; /* Уменьшаем размер текста */
        padding: 4px 8px;
    }
    .balances {
        gap: 20px;
    }
}

@media screen and (max-width: 480px) {
    .balances div {
        font-size: 14px;
        padding: 3px 6px;
        max-width: 100px; /* Подгоняем под низкие разрешения */
        min-width: 60px;
    }
    .balances {
        gap: 10px; /* Уменьшаем расстояние между элементами */
    }
}


/* Кнопка "Выход" */
.top-bar-button {
    background-color: #dc3545; /* Красный цвет */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.top-bar-button:hover {
    background-color: #a71d2a;
}

/* Основное содержимое (Main Content) */
.main-content {
    margin-left: 180px; /* Отступ влево от sidebar */
    margin-top: 60px; /* Отступ вниз от верхнего меню */
    padding: 20px;
    background-color: #0a0a0a;
    height: calc(100vh - 60px); /* Высота контента за вычетом верхнего меню */
    overflow-y: auto;
}

.news-feed {
    margin-top: 20px;
}

.news-item {
    background-color: #1d1d1d;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
