{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Treagle{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      <h1>Treagle</h1>
      <hr>
    </div>
    <ul class="sidebar-menu">
      <li><a href="{% url 'newsadm' %}">Новости</a></li>
      <li><a href="{% url 'databaseadm' %}">База данных</a></li>
      <li><a href="{% url 'statisticsadm' %}">Статистика</a></li>
      <li><a href="{% url 'settingsadm' %}">Настройки</a></li>
    </ul>
    <ul class="sidebar-footer">
      <div class="balances-sidebar">
        <div class="balance-item">TREAGLE</div>
        <div class="turnover-item">ADMIN</div>
        <div class="deals">PANEL</div>
        <div class="exchange-rates">
          BB p2p: {{ exchange_rate.p2p_rate|default:'--'|floatformat:2 }} RUB 
          Sale: {{ exchange_rate.sale_rate|default:'--'|floatformat:2 }} RUB
        </div>
        <button onclick="location.href='{% url 'logout' %}'" class="top-bar-button exit-button">Выход</button>
      </div>
      
      <ul class="sidebar-footer">
        <!-- Этот блок можно оставить пустым, так как все ссылки перемещены выше -->
      </ul>
    </div>

  <!-- Main content -->
  <div class="main-content">
    {% block content %}
    <!-- Здесь будет контент страницы -->
    {% endblock %}
  </div>
</body>
</html>
